@font-face {
    font-family: Tangerine;
    src: url("../resources/Tangerine/Tangerine-Regular.ttf");
}

/* ##### GENERAL ##### */


table {
    width: 80%;
}

th {
    text-align: left;
    color: darkgrey;
}

td {
    padding-top: 3px;
    padding-bottom: 3px;
}

tr:hover {
    background-color: whitesmoke;
}

.decoText {

}

.decoLink {
    color: darkgrey;
    text-decoration: none;
}

.refLink { /* styles reference links */
    text-decoration: none;
    font-weight: bolder;
    color: dimgrey;
}


/* ##### HEADER ##### */
/* ################## */

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    box-shadow: 0 3px 2px whitesmoke;
    z-index: 10;
}

h1 {
    font-family: Tangerine;
    font-size: 48px;
    padding-left: 20px;
    margin-bottom: 0;
}

/* ### NAVIGATION ### */

nav {

}

ul {
    margin-top: 0px;
    margin-bottom: 5px;
    padding-left: 5px;
}

li {
    display: inline;
}

/* Dropdown Button */
.dropbtn {
    font-family: Tangerine;
    background-color: white;
    color: darkolivegreen;
    padding: 16px;
    font-size: 25px;
    border: none;
}

.dropbtn a {
    text-decoration: none;
    color: darkolivegreen;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: white;
}

/* ###### MAIN ###### */
/* ################## */

main {
    margin-top: 150px;
    padding-left: 20px;
}

h2{
    font-family: Tangerine;
    color: dimgrey;
    font-size: 30px;
}

#middleearth {
    background-image: url('../graphics/Sketch_Map_of_Middle-earth.svg');
    background-repeat: no-repeat;
    height: 700px;
    opacity: 0.5;
    margin-bottom: 20px;
    margin-top: 20px;
    z-index: -1;
}

.ccl { /* creative common licence*/
    color: darkgrey;
    position: fixed;
    bottom: 100px;

}

.initial { /* index letter */
    font-family: Tangerine;
    font-size: 22pt;
    font-weight: bolder;
}

.treeLink {
    text-decoration: none;
    color: darkgrey;
}

.treeLink:hover {
    color: darkolivegreen;
}

/* end of page, to prevent contend being hidden by footer*/
.emptySpace {
    height: 50px;
}

/* ## TIMELINE ## */


/* Timeline Container */
.timeline {
    background: white;
    margin: 20px auto;
    padding: 20px;
}

/* Card container */
.card {
    position: relative;
    max-width: 80%;
}

/* setting padding based on even or odd */
.card:nth-child(odd) {
    padding: 30px 0 30px 30px;
}
.card:nth-child(even) {
    padding: 30px 30px 30px 0;
}
/* Global ::before */
.card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid darkseagreen;
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    color: gray;
    border-radius: 10px;
    padding: 10px;
}

/* Title of the card */
.title {
    color: dimgrey;
    position: relative;
}

/* Timeline dot  */
.title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    border: 3px solid darkolivegreen;
}

/* text right if the card is even  */
.card:nth-child(even) > .info > .title {
    text-align: right;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd) > .info > .title::before {
    left: -45px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even) > .info > .title::before {
    right: -45px;
}

/* ##### FOOTER ##### */
/* ################## */

footer {
    position: fixed;
    height: 40px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    background: white;
    padding-left: 20px;
    padding-top: 10px;
}

footer a {
    font-family: Tangerine;
    font-size: 20px;
    text-decoration: none;
    color: darkolivegreen;
    margin-right: 10px;
}